.login-page {
  /* Removed padding to allow content to extend to the edges */
}

.auth-section .login-form {
  /* Center form content and adjust properly to the screen size */
  width: 75% !important;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.auth-section .login-form h2  {
  font-weight: bold;
}

/* GoogleLoginButton.css */

.btn-outline-primary {
  color: #7749F8 !important; /* Primary color text */
  font-weight:500 !important; /* Make the text bold */
  border: 2px solid #7749F8 !important; /* Primary color border */
  border-radius: 6px  !important;
  background: transparent !important; /* Transparent background initially */
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  height: auto !important;
  width: 100% !important;
  margin-top: 1rem !important;
  margin-bottom: 4px !important;
  transition: background-color 0.3s, color 0.3s !important; /* Smooth transition */
}

.btn-outline-primary:hover,
.btn-outline-primary:focus,
.btn-outline-primary:active {
  background: linear-gradient(0deg, #7749F8, #7749F8) !important; /* Background on hover/focus/active */
  color: #FFF !important; /* Text color to white for contrast */
  border-color: #7749F8 !important; /* Maintain the same border color */
}




/* Or Line */

.or-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 23px; /* Adjust the gap as needed to match your design */
}

.line {
  width: 100px; /* Adjust the width as needed to match your design */
  height: 1px; /* This creates a solid line */
  background-color: #6EA8FE; /* This is the blue color from your code snippet */
}

.or-text {
  color: #6EA8FE; /* This is the blue color from your code snippet */
  font-family: 'Inter', sans-serif; /* Ensure this font is loaded in your project */
  font-size:small;
  line-height: 15px; /* This affects the height of the text */
}



/* Adjust footer to ensure it sticks to the bottom */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* Login.css */
.image-section {
  position: relative;
  overflow: hidden;
}

.image-section img {
  width: 100%;
  height: auto;
  /* Adjust the positioning if needed, or use object-fit for better control */
  object-fit: cover;
}

/* Adjustments for smaller screens */
@media (max-width: 768px) {
  .image-section {
    /* Example: Adjust the height on smaller screens if necessary */
    height: 50vh; /* Adjust based on your design preference */
  }

  .image-section img {
    height: 100%;
  }
}

/* Adjustments for larger screens */
@media (min-width: 1024px) {
  .image-section {
    /* Keep full height or any other adjustments for larger screens */
    height: 100vh;
  }
}


@media (max-width: 768px) {
  .login-section {
    /* Optional margin-top can be added if needed */
  }

  .image-section {
    /* Hide the image on smaller screens */
    display: none;
  }

  .login-form {
    padding: 1rem; /* Reduced padding on smaller screens */
  }
}

