nav {
    display: flex;
    justify-content: space-around;
    background-color: #333;
    color: white;
  }
  
  nav a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 14px 16px;
    display: block;
  }
  
  .content {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  
  .left-column, .right-column {
    width: 48%;
  }
  
  button {
    margin-left: 10px;
  }

  .account-settings-link {
    width: 113px;
    height: 28px;
    position: absolute;
    top: 100px;
    left: 1086px;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: right;
    color: #000000; 
  }
  
.upcoming-bookings, .payment-history {
  width: 451px; 
  height: 139px; 
  overflow-y: auto; 
  margin-bottom: 2rem;
  left: 30px;
  border: 0cm;
}

.booking-history {
  width: 451px; 
  height: 139px; 
  overflow-y: auto; 
  border: 0cm;
  
}

h5{
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
  margin-top: 40px;
  margin-left: 40px;
  margin-bottom: 15px;

}

h1{
  margin-top: 30px;
  margin-left: 40px;
}

.booking-item {
  border-bottom: 1px solid #DEE2E6;
  padding: 8px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  color: #343A40;

}

.booking-date {
  background-color: #CFF4FC !important;
  color: #055160;
}

.link-card{
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
  border: 0cm;
  width: 451px;
  height: 20px;
  margin-left: 7.5rem;
  margin-top: 9rem;
}

.links{
  color: #000000;
}

.booking-history{
  margin-left: 7rem;
}

.booking-text{
  margin-left: 122px;
}



