/* Home.css */

:root {
  --primary-color: #7749F8;
  --primary-color-hover: #2d00a9;
  --navbar-text-color: #fff;
}

html, body {
  scroll-behavior: smooth;
  height: 100%;
  margin: 0;
  padding: 0;
}

.text {
  height: 150px !important;
}

.home {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: radial-gradient(
    100% 150% at 10% -50%,
    #2980B9 0%,
    #6DD5FA 70%,
    #FFFFFF 100%
  );
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.home > .container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 56px;
  padding-bottom: 56px;
}

.btn-badge .icon-class {
  vertical-align: middle;
  margin-right: 0.5rem;
  width: 1em;
  height: 1em;
}

.badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-overflow: ellipsis;
  overflow: hidden;
}

.custom-footer {
  background-color: #1B1B1B;
  color: #FFFFFF;
  padding: 20px 0;
}

.button-group {
  margin-bottom: 30px;
  margin-left: -10px;
}

.btn-badge {
  display: inline-block !important;
  padding: 12px 20px !important;
  border-radius: 40px !important;
  background-color: #79DFC1 !important;
  font-family: 'Inter', sans-serif !important;
  font-size: 21px !important;
  line-height: 36px !important;
  text-align: center !important;
  color: black !important;
  text-decoration: none !important;
  margin: 0 10px !important;
  cursor: pointer !important;
  transition: background-color 0.3s !important;
  font-weight: 400;
}

.btn-badge:hover {
  background-color: var(--primary-color-hover);
}

.content-column, .reservation-column {
  padding: 0 15px;
}

.content-column {
  margin-top: 40px;
}

.detail-content {
}

.why-how-section {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  min-height: 100vh !important;
  margin-left: 75px;
  margin-right: 75px;
}

.testimonials-section {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  min-height: 100vh !important;
  margin-left: 75px;
  margin-right: 75px;
}

.testimonials-section h2 {
  justify-content: center !important;
}

.detail-content h1 {
  font-family: 'Inter', sans-serif;
  font-size: 48px;
  font-weight: 700;
  color: #052C65;
  margin: 0 0 20px 0;
}

.detail-content p {
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  color: #052C65;
  line-height: 1.5;
  padding-bottom: 43px;
}

.p1 {
  color: #084298 !important;
  font-family: Inter !important;
  font-size: 16px !important;
  font-weight: 400 !important;
  line-height: 28px !important;
  letter-spacing: 0em !important;
  text-align: left !important;
}

@media (min-width: 992px) {
  .content-column {
    padding-right: 100px;
  }
  .reservation-column {
    padding-left: 100px;
    padding-right: 75px;
  }
  .detail-content h1 {
    font-size: 72px;
  }
  .detail-content p {
    font-size: 21px;
  }
}

@media (max-width: 991px) {
  .btn-badge {
    width: auto;
    font-size: 18px;
  }
}

@media (max-width: 767px) {
  .home > .container {
    padding: 20px;
  }
  .detail-content h1 {
    font-size: 36px;
  }
  .detail-content p {
    font-size: 16px;
  }
  .btn-badge {
    padding: 10px 15px;
    font-size: 16px;
    margin: 0 5px;
  }
}

/* Reservation.css */

.custom-select {
  width: 100%;
  padding: .375rem 2.25rem .375rem .75rem;
  margin: 0;
}

@media (max-width: 576px) {
  .custom-select {
    font-size: 0.8rem;
  }
}

@media (max-width: 400px) {
  .custom-select {
    font-size: 0.7rem;
    padding: .375rem 1.25rem .375rem .5rem;
  }
}

.button-check {
  width: 100%;
}

/* Home.css */

.mt-custom {
  margin-top: -100px !important; /* Customize this value */
}

.mb-custom {
  margin-bottom: -100px; /* Customize this value */
}

.mb-custom2 {
  margin-bottom: 100px !important; /* Customize this value */
}
