@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/* Footer.css */

.custom-footer{
  width: 100%;
  position: relative; /* Adjusted from absolute to relative */
  font-family: 'Roboto', sans-serif;
  background-color: #140330;
}

.custom-footer a {
  text-decoration:none ; /* Remove underline */
  color: white;
}

.custom-footer a:hover {
  color: blue; /* Set hover effect color */
}

.footer-section {
  /* Use flexbox to align the content */
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: left; /* Center-align items horizontally */
  text-align: left; /* Center-align text for good measure */
}

.footer-section h5:not(:first-of-type) {
  margin-top: 20px;
  
  
}

.lists{
  margin-left: 40px;
  
}
.social-icons {
  padding-left: 88px;
  width: 32px;
  height: 32px;
}



.footer-section h5{
  color: white;
}

.footer-section ul {
  list-style: none; /* Removes bullet points from list */
  padding: 0; /* Removes default padding */
}

.footer-section ul li {
  padding: 5px 0; /* Spacing between list items */
}
  
.icons{
  
    color: #d3e1fc; /* Your specified hex color */
  
}

/* Footer.css */
.icon-phone {
  color: #d3e1fc; /* This is an example; set the color you need for the phone icon */
  margin-right: 5px;
}

.icon-envelope {
  color: #d3e1fc; /* This is an example; set the color you need for the envelope icon */
  margin-right: 5px;
  
}

.footer-email {
  display: inline-flex; /* This keeps the icon aligned with the text */
  align-items: center;
  color: inherit; /* or any specific color you want for the text */
}

.footer-email a {
  color: inherit; /* Ensures the link color matches the surrounding text or icon */
  text-decoration: none; /* Optional: removes the underline from the link */
}


  .footer-section svg {
    fill: #FFFFFF; /* Setting the color of SVG icons */
    margin-right: 10px; /* Spacing between icons */
    width: 30px; /* Icon width */
    height: auto; /* Auto height to maintain aspect ratio */
  }
  
  @media (max-width: 768px) {
    .footer-section {
      text-align: center; /* Center content on small screens */
      margin-bottom: 20px; /* Spacing between sections */
    }
  }
  
  .download-icons, .social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 10px; /* Add some space below each icon group */
  }