/* ReservationForm.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
  --primary-color:#7749F8 ;
  --primary-color-hover: #2d00a9;
    padding-top: 50px;
}

.form-element {
  z-index: 1; /* or 'auto' if you don't need to set a specific z-index */
}

.btn-primary {
  background-color: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
}

.btn-primary:hover {
  background-color: var(--primary-color-hover) !important;
  border-color: var(--primary-color-hover) !important;
}

.btn-outline-primary {
  width: auto;
  margin-top: 1rem;
  color: var(--primary-color);
}

.btn-outline-primary:hover {
  color: #fff !important;
  background-color: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
}

.button-check {
  margin-top: 15px;
  margin-left: 0px;

}


/* Ensures the dropdown fits within its parent container */
.custom-select {
  width: 100%;
}

/* Limits the width of the dropdown menu */
.custom-select option {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Bootstrap's dropdown menu adjustment */
.dropdown-menu {
  max-width: 100%; /* Limit dropdown width to 100% of its parent */
  left: auto; /* Reset any specific left positioning */
  right: 0; /* Align to the right edge of the select box */
}

/* This media query ensures that the dropdown does not overflow small screens */
@media (max-width: 576px) {
  .dropdown-menu {
    width: 100%; /* Full width on small screens */
  }
}
