.navbar1 {
    position: relative;
    font-weight: 600;
  }
  .logo {
    height: 2.5rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0.5rem 0;
    box-sizing: border-box;
  }
  .menu-icon {
    width: 1.5rem;
    position: relative;
    height: 1.5rem;
    overflow: hidden;
    flex-shrink: 0;
  }
  .hamburger-menu,
  .navbar {
    display: flex;
    flex-direction: row;
  }
  .hamburger-menu {
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid #ced4da;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0.5rem;
  }
  .navbar {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #7749f8;
    width: 24.38rem;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    box-sizing: border-box;
    font-size: 1.25rem;
    color: #343a40;
  }
  .label,
  .start-adornment-icon {
    position: relative;
    display: none;
  }
  .label {
    width: 2.63rem;
    line-height: 1.25rem;
    color: #000;
  }
  .start-adornment-icon {
    width: 1rem;
    height: 1rem;
    overflow: hidden;
    flex-shrink: 0;
  }
  .placeholder {
    flex: 1;
    position: relative;
    line-height: 1.25rem;
  }
  .end-adornment-icon {
    width: 1rem;
    position: relative;
    height: 1rem;
  }
  .content {
    align-self: stretch;
    border-radius: 6px;
    background-color: #fff;
    border: 1px solid #dee2e6;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0.31rem 0.75rem;
    gap: 0.5rem;
  }
  .helptext {
    width: 3.13rem;
    position: relative;
    font-size: 0.75rem;
    line-height: 0.75rem;
    display: none;
  }
  .input,
  .input1,
  .input2,
  .input3 {
    position: absolute;
    top: 7.75rem;
    left: 1.06rem;
    width: 22.25rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.38rem;
  }
  .input1,
  .input2,
  .input3 {
    top: 10.13rem;
  }
  .input2,
  .input3 {
    top: 15.25rem;
    width: 10.38rem;
  }
  .input3 {
    left: 12.94rem;
  }
  .button1 {
    position: relative;
    line-height: 1rem;
    font-weight: 600;
  }
  .button,
  .button2 {
    position: absolute;
    top: 18.63rem;
    left: 1.06rem;
    border-radius: 6px;
    background-color: #7749f8;
    width: 22.31rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 0.75rem;
    box-sizing: border-box;
    font-size: 0.88rem;
    color: #fff;
  }
  .button2 {
    top: 49.75rem;
    background-color: #fff;
    border: 1px solid #7749f8;
    color: #6610f2;
  }
  .are-you-a,
  .date-time,
  .destination {
    position: absolute;
    top: 5.5rem;
    left: 1.06rem;
    line-height: 1.75rem;
    color: #000;
  }
  .are-you-a,
  .date-time {
    top: 13rem;
  }
  .are-you-a {
    top: 47rem;
  }
  .home-mobile {
    width: 100%;
    position: relative;
    background-color: #fff;
    height: 52.75rem;
    overflow: hidden;
    text-align: left;
    font-size: 1rem;
    color: #adb5bd;
    font-family: Inter;
  }
  